---
http_interactions:
- request:
    method: get
    uri: https://v2.jokeapi.dev/joke/Any?safe-mode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET, POST, HEAD, OPTIONS, PUT
      Retry-After:
      - '43'
      Api-Info:
      - JokeAPI v2.3.2 (https://v2.jokeapi.dev)
      Ratelimit-Limit:
      - '120'
      Ratelimit-Remaining:
      - '118'
      Ratelimit-Reset:
      - Mon Feb 20 2023 17:19:36 GMT+0000 (Coordinated Universal Time)
    body:
      encoding: UTF-8
      string: |-
        {
            "error": false,
            "category": "Programming",
            "type": "twopart",
            "setup": "Why is Linux safe?",
            "delivery": "Hackers peak through Windows only.",
            "flags": {
                "nsfw": false,
                "religious": false,
                "political": false,
                "racist": false,
                "sexist": false,
                "explicit": false
            },
            "safe": true,
            "id": 260,
            "lang": "en"
        }
  recorded_at: Mon, 20 Feb 2023 17:18:53 GMT
recorded_with: VCR 6.1.0
